.Footer {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 6px;
  margin: 20px auto;
  max-width: 600px;
  padding: 10px 20px;
}

.Footer p {
  color: var(--dark-colour);
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.Footer a {
  color: var(--underline-colour);
  text-decoration: none;
}

.Footer a:hover {
  color: var(--accent-colour);
  text-decoration: underline;
}
