.Header {
  background: var(--background-colour);
  border: none;
  border-radius: 6px;
  margin: 0 auto;
  max-width: 700px;
  padding: 10px 10px;
}

.Header .search-input,
.search-button {
  border: none;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: var(--background-colour);
  font-size: 16px;
  padding: 10px 20px;
}

.Header .search-input {
  background-color: #fff;
  max-width: 500px;
}

.Header ::placeholder {
  color: var(--underline-colour);
  font-size: 16px;
}

.Header .search-button {
  background-color: var(--accent-colour);
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  max-width: 100px;
  transition: all 200ms ease-in-out;
}

.Header .search-button:hover {
  background-color: var(--underline-colour);
  cursor: pointer;
  color: var(--dark-colour);
}

.Header select.form-select-sm {
  background: var(--muted-background-colour);
  border-radius: 6px;
  color: var(--background-colour);
  font-size: 1rem;
  font-weight: bold;
  height: 2.5rem;
  line-height: 2.5rem;
  margin: auto 0;
  min-width: 50px;
  padding: 0.25rem;
  text-align: center;
}

@media (max-width: 576px) {
  .Header select.form-select-sm {
    font-size: 0.7rem;
    padding: 0;
  }

  .Header .search-button {
    font-size: 12px;
    width: 90px;
  }

  .Header .search-input {
    font-size: 12px;
    width: 180px;
  }
}

@media (min-width: 340px) and (max-width: 380px) {
  .Header .search-button {
    width: 80px;
  }

  .Header .search-input {
    width: 150px;
  }
}
