:root {
  --accent-colour: #fdb44b;
  --background-colour: #005792;
  --muted-background-colour: #d6e4f0;
  --underline-colour: #00bbf0;
  --dark-colour: #00204a;
  --title-font: "Raleway", sans-serif;
  --body-font: "Roboto", sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--body-font);
}
