.Weather ul {
  padding: 0;
}

.Weather li {
  border-bottom: 1px solid var(--underline-colour);
  list-style: none;
  padding: 1px 0 1px 0;
}

.Weather .split-text {
  display: flex;
  justify-content: space-between;
}

.Weather .todays-left-side,
.todays-right-side {
  font-size: 16px;
  padding-top: 10px;
}

.Weather .todays-content {
  margin: 0;
  padding: 0;
}

.Weather .todays-icon {
  position: relative;
  bottom: 3px;
  max-width: 200px;
  padding-top: 10px;
}

.Weather .todays-temp {
  font-size: 40px;
}

.Weather .stat {
  font-weight: bold;
}

.Weather .data {
  color: var(--accent-colour);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.Weather .todays-right-side {
  text-align: left;
  max-width: 50%;
}

.Weather .material-symbols-outlined {
  color: var(--underline-colour);
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 18;
  font-size: 14px;
  position: relative;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  top: 2px;
}

.Weather .loader svg {
  color: var(--background-colour);
}

div.location.box {
  background: #d6e4f0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
}

.Forecast .material-symbols-outlined {
  font-size: 18px;
}

.Forecast ul {
  margin-left: 20px;
  margin-right: 20px;
}

.Forecast li {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-top: 5px;
}

.Forecast .day-date {
  padding-top: 5px;
}

.Forecast li .day {
  font-size: 16px;
}

.Forecast li .date {
  font-size: 12px;
}

.Forecast li .forecast-icon {
  position: relative;
  bottom: 3px;
  width: 60px;
}

.Forecast li .conditions {
  width: 20%;
}

.Forecast li .temp-feels {
  font-size: 12px;
}

@media (max-width: 576px) {
  .weather-info {
    display: flex;
    justify-content: center;
  }

  .Weather .todays-icon {
    max-width: 100px;
  }

  .Weather .todays-right-side {
    max-width: 70%;
  }
}

@media (min-width: 340px) and (max-width: 380px) {
  .Weather .todays-icon {
    max-width: 85px;
  }
}
